body {
    margin: 20px; /* Add margin to the entire body */
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Set a fixed height to the container */   
}

.custom-card {
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 600px; /* Ajuste o tamanho máximo do card */
    /* Adicione outras propriedades de estilo conforme necessário */
}

.alert-personalizado {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
}