@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* Adicione estilos personalizados aqui */


.card {
    border: 1px solid #343a40;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-title {
    color: #007bff; /* Cor azul para o título do card */
}

.card-text {
    color: #6c757d; /* Cor cinza para o texto do card */
}

.corpo{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #6c757d;
    background-image: url('Images/Menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.button-delete{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    margin-top: 30px;
}

.invisible{
    display: none;
}

.button-custom{
    background-color: rgb(106, 199, 70);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}