@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.titulo h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 55px;
    margin-top: 30px;
}

.button-custom{
    background-color: rgb(106, 199, 70);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}