@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(121, 112, 145, 0.329);
    background-image: url('Images/Menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.centralizar_botao {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.centralizar2 {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.centralizar {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

h1 {
    color: #fff;
    font-size: 50px;
    margin: 0;
}

.json {
    color: white;
    align-items: center;
    flex-direction: row;
}

.logo {
    background-image: url('Images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 55px;
}

input[type="text"] {
    padding: 12px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}


input[type="text"]::placeholder {
    color: #000000a9;
}


input[type="text"]:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}



.header {
    background-color: rgb(59, 133, 91);
    display: flex;
    padding: 5px;
    border-radius: 40px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 10px;
    width: auto;
    height: 100px;
}

.title {
    flex-grow: 1;
    margin-left: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.button {
    background-color: rgb(59, 133, 91);
    color: #000000;
    border: solid;
    border-width: 2px;
    border-radius: 30px;
    padding: 18px 108px;
    font-size: 23px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}


.button_login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 8px;
    height: 45px;
    width: 150px;
    border: solid;
    border-width: 1px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    transform: translate(220%, -50%);
}

.lable {
    line-height: 22px;
    font-size: 17px;
    color: #000000;
    margin-left: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.button .span {
    border-radius: 50%;
    background-color: rgb(48, 129, 29);
    padding: 10px;
    position: absolute;
    left: 0;
}


.button_login:hover .svg-icon {
    animation: slope 0.8s linear infinite;
}

@keyframes slope {
    0% {}

    50% {
        transform: rotate(15deg);
    }

    100% {}
}



.button_enviar {
    background: rgba(59, 133, 91);
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrada {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

a {
    text-decoration: none;
    color: inherit;
}

.button:hover {
    transform: scale(1.05);
}

#format {
    text-align: center;
}