
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(121, 112, 145, 0.329);
    background-image: url('Images/Menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.centralizar_botao{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.centralizar2 {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.centralizar{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

h1 {
    color: #fff;
    font-size: 50px;
    margin: 0;
}

.json{
    color: white;
    align-items: center;
    flex-direction: row;
}

.logo{
    background-image: url('Images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 55px;
}

input[type="text"] {
    padding: 12px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}


input[type="text"]::placeholder {
    color: #000000a9;
}


input[type="text"]:focus {
    border-color: rgb(59, 133, 91);
    box-shadow: 0 0 5px rgba(59, 133, 91);
}



.header {
    background-color: rgba(59, 133, 91, 0.904);
    display: flex;
    padding: 5px;
    border-radius: 40px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 10px;
    width: auto;
    height: 100px;
}

.title {
    flex-grow: 1;
    margin-left: 50px;
}

.button {
    background-color: rgba(59, 133, 91);
    color: #ffffff;
    border-radius: 10px;
    padding: 20px 80px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: inline-block;
}


.login_button{
    outline: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    height: 48px;
    position: absolute;
    top: auto;
    right: 10px;
    transform: translate(-50%, -50%);
}

.button_enviar {
    background: rgba(59, 133, 91);
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrada {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

a {
    text-decoration: none;
    color: inherit;
}

.button:hover{
    transform: scale(1.04);
}

#format {
    text-align: center;
}