{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>AGROLITE</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <div class="container">
            <a class="navbar-brand" href="#">AGROLITE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link mx-2" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2" href="#">O que é Agrolite?</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'recomendacao' %}" class="nav-link mx-2" href="#">Recomendar</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="{% url 'historico' %}" class="nav-link mx-2" href="#">Historico</a>
                    </li>
                </ul>
            </div>
            <div>
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item mx-4">
                            <a href="{% url 'logout_user' %}" class="nav-link btn btn-danger btn-block mx-4" href="#">LOGOUT</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item mx-4">
                            <a href="{% url 'login' %}" class="nav-link btn btn-success btn-block mx-4" href="#">Login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center"><b>AGROLITE</b></h1>
    </div>

    <div class="container mt-4">
        <div class="card card-custom bg-dark text-white">
            <div class="card-body mx-auto">
                <h5 class="card-title">Como Funciona</h5>
                <p class="card-text">Este é um site que fornece recomendações úteis para agricultores. Aqui estão os passos para começar:</p>
                <ol>
                    <li>Registre-se na nossa plataforma.</li>
                    <li>Realize o login na sua conta.</li>
                    <li>Explore as recomendações personalizadas para suas culturas.</li>
                </ol>
                <p class="card-text">É simples assim! Comece a melhorar sua agricultura hoje.</p>
            </div>
        </div>
    </div>

    <div class="container text-center mt-4">
        <button type="button" class="btn btn-primary button-custom">Começar</button>
    </div>

</body>
</html>
