{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agrolite - Your Agriculture Solution">
    <meta name="keywords" content="agriculture, farming, login">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>Agrolite - Login</title>
</head>

<body>
    <section class="text-center text-lg-start">
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-flex">
                    <img src="https://www.folhadelondrina.com.br/img/inline/3130000/0x800/Maior-produtor-nacional-de-tabaco-esta-no-Parana0313209002202111220824.webp?fallback=https%3A%2F%2Fwww.folhadelondrina.com.br%2Fimg%2Finline%2F3130000%2FMaior-produtor-nacional-de-tabaco-esta-no-Parana0313209002202111220824.jpg%3Fxid%3D5522779&xid=5522779"
                        alt="Agriculture Image"
                        class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5 rounded-image" />
                </div>
                <div class="col-lg-8">
                    <div class="center-content"> <!-- Apply the centering class here -->
                        <h1>AGROLITE</h1>
                    </div>
                    <div class="card-body py-5 px-md-5">
                        <form>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="formUsername">Email</label>
                                <input type="text" id="formEmail" name="username" class="form-control mx-auto col-lg-6 mb-4" />
                            </div>
                            <div class="form-group">
                                <label for="formPassword">Senha</label>
                                <input type="password" id="formPassword" name="password" class="form-control mx-auto col-lg-6 mb-4" />
                            </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4 col-lg-4 mx-auto">Entrar</button>
                    <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se agora</a></p>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>