@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

h2{
    color: rgb(20, 161, 161);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.cabeçalho{
    background-color: black;
}
